[user]
	name = Tom Lienard
	email = tom.lienrd@gmail.com
[init]
	defaultBranch = main
[core]
  editor = vim
  fsmonitor = true
  untrackedcache = true
[alias]
  parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
